@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Tiro+Bangla:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
nav{
    padding: 15px 0;
}
ul{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #575757;
}
button{
    padding: 10px 25px;
    color: aliceblue;
    background-color: #1D4ED8;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

.hero{
    background-image: url(../assets/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    color: aliceblue;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h4{
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}
.hero div p{
    text-align: center;
    margin-bottom: 20px;
}

.hero button{
    padding: 15px 40px;
}
.speaker-section{
    padding: 60px 40px;
}
section h3{
    font-size: 40px;
    text-align: center;
    margin: 20px;
}
.speaker{
    border-radius: 10px;
    border: 2px solid #e3dfdf;
    
}
.speakers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.speakers div .txt{
    padding: 10px 20px;
}
.speakers div .txt p{
    color: #1D4ED8;
    font-weight: 600;
}
.speakers div .txt .btm-txt{
    color: #8c8888; 
}
.spot-section .spot-head p{
    text-align: center;
    font-weight: 600;
    color: #8c8888;
}

.cards{
    padding: 30px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.spot-section .cards .card{
    border: 1px solid #e3dfdf;
    border-radius: 20px;
    padding: 30px;
}
.spot-section .cards .card .st-half{
    padding-bottom: 30px;
    border-bottom: 1px solid #e3dfdf;
}
.spot-section .cards .card .nd-half ul{
    list-style:disc ;
    padding: 20px 20px; 
}
.spot-section .cards .card p, li{
    color: #8c8888;
    font-weight: 600;
}
.nd-card-bg{
    background-color: #0D1B2A;
}
.nd-card-bg .st-half h2{
    color:aliceblue
}
.nd-card-bg button{
    width: 100%;
}
.st-card button{
    background-color: aliceblue;
    color: #0D1B2A;
    border: 1px solid;
    width: 100%;
}
.rd-card button{
    background-color:aliceblue;
    color: green;
    border: 1px solid;
    width: 100%;
}

